<div class="large-12 small-12 columns nopadding">
	<div class="large-12 small-12 columns nopadding login_header">
		<h1>Для просмотра страницы необходима авторизация</h1>
	</div>
	<form action="/{{url}}login/" method="post">
	{% csrf_token %}
		<div class="large-12 small-12 columns nopadding">
			<div class="large-6 small-12 columns nopadding">
				<div class="large-12 small-12 columns nopadding login_label">
					<label for="login">Имя пользователя</label>	
				</div>
				<div class="large-12 small-12 columns nopadding">
					<input type="text" id="login" name="login">
				</div>
			</div>
		</div>

		<div class="large-12 small-12 columns nopadding">
			<div class="large-6 small-12 columns nopadding">
				<div class="large-12 small-12 columnss nopadding password_label">
					<label for="password">Пароль</label>
				</div>
				<div class="large-12 small-12 columns nopadding">
					<input type="password" id="password" name="password">
				</div>
			</div>
		</div>
		
		<div class="large-12 small-12 columns nopadding login_error">
			{{login_error}}
		</div>

		<div class="large-12 small-12 columns nopadding">
			<button type="submit" class="button_kbnt" onclick="loadingOpen();">Войти</button>
		</div>
	</form>
</div>