.left_panel, .right_panel, .central_panel{
	min-height:100%;
	margin-bottom:30px;
}


.nopadding{
	padding:0;
}


h1{
	font-size: 24px;
}
h2{
	font-size: 18px;
}

th{
	font-size:14px;
}

td{
	font-size: 14px;
}

tr{
	cursor: pointer;
}

table tbody tr:nth-child(even):hover, table tbody tr:hover{
	background-color:#ccc;
}

.color_alert{
	color:red;
}

.color_success{
	color:green;
}

button{
	padding:5px;
	background-color:#ccc;
}

button:hover{
	background-color:#999;
}