<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  
  <title>Crawlers Manager</title>
	{% load staticfiles %}
  <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"> -->
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-flex.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-icons/foundation-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>



  <div class="large-12 small-12 columns nopadding">
    {% block content %}{% endblock %}    
  </div>

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/loader.js' %}"></script>
  <script>
    google.charts.load('current', {'packages':['bar', 'corechart']});
  </script>  
  <script src="{% static 'js/application.js' %}"></script>
  <script src="{% static 'js/program_statistic.js' %}"></script>
  <script src="{% static 'js/statistics_vocabulary.js' %}"></script>
  <script src="{% static 'js/statistics_common.js' %}"></script>
  <script src="{% static 'js/statistics_pubcompare.js' %}"></script>
  <script src="{% static 'js/tonestatistics.js' %}"></script>
  <script src="{% static 'js/tonestatistics_common.js' %}"></script>
  <script src="{% static 'js/grammems.js' %}"></script>
  <script src="{% static 'js/user_select.js' %}"></script>
  <script src="{% static 'js/user_grammems.js' %}"></script>
  <script src="{% static 'js/user_grammem.js' %}"></script>
  <script>

    //ajax заппрос
    var makeAjax = function(parameters){
      $.ajax({
          type: "POST",
          url: "/ajax/",
          data: JSON.stringify(parameters),
          contentType: "application/json; charset=utf-8",
          headers: {
            'X-CSRFToken': getCookie('csrftoken')
          },
          dataType: "json",
          async: true,
          success: function(data, textStatus, jqXHR){
            readResponseGrammems(data, parameters);
            userGrammemReadAjax(data, parameters);
          }
      });
    }

    //построить cookie в данном случае для csrf_token
    var getCookie = function(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
  </script>
</body>