<div class="large-12 small-12 columns nopadding">
	<h1>Grammems</h1>
</div>

<div class="large-12 small-12 columns nopadding">
	<table>
		<thead>
			<tr>
				<th>№ Пп</th>
				<th>Кр. наим.</th>
				<th>Значение</th>
				<th>Всего слов</th>
				<th>Разобранных</th>
			</tr>
		</thead>
		<tbody>
			{% for grammem in grammems %}
				<tr data-id="{{grammem.url}}" class="choose_grammem">
					<td>{{forloop.counter}}</td>
					<td>
						{{grammem.name}}
					</td>
					<td>
						{{grammem.name_rus}}
					</td>
					<td>{{grammem.count}}</td>
					<td>{{grammem.with_tone}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>